main{
    font-family: Helvetica;
    text-align: center;
}

#bloco-1 {
    color: white;
    background-color: orange;
    border: 10px groove rgba(255, 255, 0, 0.247);
    width: 300px;
    margin: 5px
}
#bloco-2 {
    color: white;
    background-color: rgb(15,113,5);
    border: 10px solid rgba(47, 255, 68, 0.391);
    width: 300px;
    margin: 5px
}
#bloco-3 {
    color: white;
    background-color: rgb(3, 46, 3);
    border: 10px  dashed green;
    width: 300px;
    margin: 5px
}
#bloco-4 {
    color: white;
    background-color:red;
    border: 10px dashed rgb(200,60,60);
    width: 300px;
    margin: 5px
}